*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9faff;
    /* background-image: url('https://i.postimg.cc/G2dCHP8B/pexels-codioful-formerly-gradienta-7130538.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 30px 10px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 100px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: black;
}
button{
    margin-right: 70px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;

}
nav p {
    margin-left: 90px;
    padding: 30px;
}
